Repository Bravo555/thin-edge.io, changes with the owners that .github/CODEOWNERS names for each.
All owners: @reubenmiller, @didier-wenzek, @albinsuresh, @thin-edge/contributors, @thin-edge/inetum-contributors, @Bravo555, @rina23q, @gligorisaev, @jarhodes314

chore: use rumqttd from git
  Cargo.lock
  Cargo.toml
  crates/tests/mqtt_tests/src/test_mqtt_server.rs
Owners: @reubenmiller, @didier-wenzek, @albinsuresh, @jarhodes314, @rina23q

wip
  crates/core/c8y_api/src/smartrest/mod.rs
  crates/core/c8y_api/src/smartrest/smartrest_serializer.rs
  crates/core/c8y_api/src/smartrest/static_templates.rs
Owners: @didier-wenzek, @albinsuresh, @jarhodes314, @rina23q

Enable displaying log file and line with --debug
  crates/common/tedge_config/src/system_services/log_config.rs
Owners: @didier-wenzek, @albinsuresh, @jarhodes314, @rina23q

Attach topic to c8y message conversion error
  crates/extensions/c8y_mapper_ext/src/converter.rs
  crates/extensions/c8y_mapper_ext/src/error.rs
Owners: @didier-wenzek, @albinsuresh, @jarhodes314, @rina23q

teeeest
  crates/core/c8y_api/src/smartrest/mod.rs
  crates/extensions/c8y_mapper_ext/src/config.rs
  crates/extensions/c8y_mapper_ext/src/converter.rs
  crates/extensions/c8y_mapper_ext/src/dynamic_discovery.rs
  crates/extensions/c8y_mapper_ext/src/lib.rs
  crates/extensions/c8y_mapper_ext/src/operations/convert.rs
  crates/extensions/c8y_mapper_ext/src/supported_operations.rs
Owners: @didier-wenzek, @albinsuresh, @jarhodes314, @rina23q

deps: Reenable other rustls default features
  Cargo.toml
Owners: @didier-wenzek, @albinsuresh, @jarhodes314, @rina23q

Create P11 gRPC service
  Cargo.lock
  crates/extensions/tedge_p11_server/Cargo.toml
  crates/extensions/tedge_p11_server/proto/p11_grpc.proto
  crates/extensions/tedge_p11_server/src/bin/p11_grpc_client.rs
  crates/extensions/tedge_p11_server/src/bin/p11_grpc_server.rs
  crates/extensions/tedge_p11_server/src/lib.rs
  crates/extensions/tedge_p11_server/src/p11_grpc_service.rs
Owners: @reubenmiller, @didier-wenzek, @albinsuresh, @jarhodes314, @rina23q

Create tedge_p11_server crate
  Cargo.lock
  crates/common/certificate/src/parse_root_certificate/mod.rs
  crates/common/certificate/src/parse_root_certificate/p11_client.rs
  crates/common/certificate/src/parse_root_certificate/pkcs11.rs
  crates/common/certificate/src/parse_root_certificate/single_cert_and_key.rs
  crates/common/tedge_config/src/tedge_config_cli/tedge_config.rs
  crates/common/tedge_config/src/tedge_config_cli/tedge_config/mqtt_config.rs
  crates/extensions/tedge_p11_server/Cargo.toml
  crates/extensions/tedge_p11_server/README.md
  crates/extensions/tedge_p11_server/src/bin/p11_client.rs
  crates/extensions/tedge_p11_server/src/lib.rs
  crates/extensions/tedge_p11_server/src/main.rs
Owners: @reubenmiller, @didier-wenzek, @albinsuresh, @jarhodes314, @rina23q

Test gRPC server on a UNIX socket
  Cargo.lock
  crates/extensions/tedge_p11_server/Cargo.toml
  crates/extensions/tedge_p11_server/build.rs
  crates/extensions/tedge_p11_server/proto/p11_grpc.proto
  crates/extensions/tedge_p11_server/src/bin/p11_grpc.rs
Owners: @reubenmiller, @didier-wenzek, @albinsuresh, @jarhodes314, @rina23q

Support cryptoki via UNIX socket in certificate
  Cargo.lock
  Cargo.toml
  crates/common/certificate/Cargo.toml
  crates/common/certificate/src/parse_root_certificate/mod.rs
  crates/common/certificate/src/parse_root_certificate/p11_client.rs
  crates/extensions/tedge_p11_server/Cargo.toml
  crates/extensions/tedge_p11_server/src/bin/p11_client.rs
  crates/extensions/tedge_p11_server/src/bin/p11_grpc_client.rs
  crates/extensions/tedge_p11_server/src/bin/p11_grpc_server.rs
  crates/extensions/tedge_p11_server/src/client.rs
  crates/extensions/tedge_p11_server/src/lib.rs
  crates/extensions/tedge_p11_server/src/main.rs
  crates/extensions/tedge_p11_server/src/pkcs11.rs
  crates/extensions/tedge_p11_server/src/service.rs
  crates/extensions/tedge_p11_server/src/signer.rs
  crates/extensions/tedge_p11_server/src/single_cert_and_key.rs
Owners: @reubenmiller, @didier-wenzek, @albinsuresh, @jarhodes314, @rina23q

add tedge-p11-server packaging
  ci/build_scripts/package.sh
  ci/package_list.sh
  configuration/contrib/tedge-p11-server/tedge-p11-server.conf
  configuration/init/systemd/75-tedge.preset
  configuration/init/systemd/tedge-p11-server.service
  configuration/init/systemd/tedge-p11-server.socket
  configuration/package_manifests/nfpm.tedge-p11-server.yaml
  configuration/package_scripts/_generated/tedge-p11-server/apk/postinst
  configuration/package_scripts/_generated/tedge-p11-server/apk/postrm
  configuration/package_scripts/_generated/tedge-p11-server/apk/preinst
  configuration/package_scripts/_generated/tedge-p11-server/apk/prerm
  configuration/package_scripts/_generated/tedge-p11-server/deb/postinst
  configuration/package_scripts/_generated/tedge-p11-server/deb/postrm
  configuration/package_scripts/_generated/tedge-p11-server/deb/preinst
  configuration/package_scripts/_generated/tedge-p11-server/deb/prerm
  configuration/package_scripts/_generated/tedge-p11-server/rpm/postinst
  configuration/package_scripts/_generated/tedge-p11-server/rpm/postrm
  configuration/package_scripts/_generated/tedge-p11-server/rpm/preinst
  configuration/package_scripts/_generated/tedge-p11-server/rpm/prerm
  configuration/package_scripts/packages.json
  configuration/package_scripts/tedge-p11-server/preinst
Owners: @reubenmiller, @Bravo555, @rina23q

change default location of tedge-p11-server socket
  crates/common/tedge_config/src/tedge_toml/tedge_config.rs
Owners: @didier-wenzek, @albinsuresh, @jarhodes314, @rina23q

install tedge-p11-server in system tests
  tests/images/debian-systemd/files/bootstrap.sh
Owners: @reubenmiller, @Bravo555

add system test for the tedge-p11-server
  tests/RobotFramework/tests/pkcs11/data/init_softhsm.sh
  tests/RobotFramework/tests/pkcs11/private_key_storage.robot
  tests/images/debian-systemd/debian-systemd.dockerfile
Owners: @reubenmiller, @Bravo555, @thin-edge/contributors, @gligorisaev

Add default value for device.cryptoki.socket_path
  crates/common/tedge_config/src/tedge_toml/tedge_config.rs
  crates/common/tedge_config/src/tedge_toml/tedge_config/mqtt_config.rs
Owners: @didier-wenzek, @albinsuresh, @jarhodes314, @rina23q

Add default value for device.cryptoki.socket_path
  crates/common/tedge_config/src/tedge_toml/tedge_config.rs
  crates/common/tedge_config/src/tedge_toml/tedge_config/mqtt_config.rs
Owners: @didier-wenzek, @albinsuresh, @jarhodes314, @rina23q

ci: checkout correct branch in cargo test
  .github/workflows/build-workflow.yml
Owners: @reubenmiller, @Bravo555, @rina23q

dummy change
  crates/tests/tedge_test_utils/src/fs.rs
Owners: @didier-wenzek, @albinsuresh, @jarhodes314, @rina23q

ci: checkout correct branch in cargo test
  .github/workflows/build-workflow.yml
Owners: @reubenmiller, @Bravo555, @rina23q

add dummy test
  crates/core/tedge/tests/main.rs
Owners: @didier-wenzek, @albinsuresh, @jarhodes314, @rina23q

fix wrong csr
  crates/common/certificate/src/lib.rs
  crates/extensions/tedge-p11-server/src/client.rs
  crates/extensions/tedge-p11-server/src/pkcs11/mod.rs
  crates/extensions/tedge-p11-server/src/server.rs
  crates/extensions/tedge-p11-server/src/service.rs
  crates/extensions/tedge-p11-server/src/signer.rs
  tests/RobotFramework/tests/pkcs11/private_key_storage.robot
Owners: @didier-wenzek, @albinsuresh, @jarhodes314, @rina23q, @thin-edge/contributors, @gligorisaev

refactor: TedgeP11Client extract request submission
  crates/extensions/tedge-p11-server/src/client.rs
Owners: @didier-wenzek, @albinsuresh, @jarhodes314, @rina23q

Creating EC keys
  Cargo.lock
  crates/core/tedge/src/cli/certificate/cli.rs
  crates/core/tedge/src/cli/certificate/create_key.rs
  crates/extensions/tedge-p11-server/Cargo.toml
  crates/extensions/tedge-p11-server/src/pkcs11/mod.rs
Owners: @reubenmiller, @didier-wenzek, @albinsuresh, @jarhodes314, @rina23q

Add `tedge cert create-key` command
  Cargo.lock
  crates/core/tedge/Cargo.toml
  crates/core/tedge/src/cli/certificate/cli.rs
  crates/core/tedge/src/cli/certificate/create_key.rs
  crates/core/tedge/src/cli/certificate/mod.rs
  crates/extensions/tedge-p11-server/src/client.rs
  crates/extensions/tedge-p11-server/src/connection.rs
  crates/extensions/tedge-p11-server/src/pkcs11/mod.rs
  crates/extensions/tedge-p11-server/src/server.rs
  crates/extensions/tedge-p11-server/src/service.rs
  tests/RobotFramework/tests/pkcs11/private_key_storage.robot
Owners: @reubenmiller, @didier-wenzek, @albinsuresh, @jarhodes314, @rina23q, @thin-edge/contributors, @gligorisaev

Set RSA key size and label
  crates/core/tedge/src/cli/certificate/cli.rs
  crates/core/tedge/src/cli/certificate/create_key.rs
  crates/extensions/tedge-p11-server/src/client.rs
  crates/extensions/tedge-p11-server/src/connection.rs
  crates/extensions/tedge-p11-server/src/pkcs11/mod.rs
  crates/extensions/tedge-p11-server/src/server.rs
  crates/extensions/tedge-p11-server/src/service.rs
  tests/RobotFramework/tests/pkcs11/private_key_storage.robot
Owners: @didier-wenzek, @albinsuresh, @jarhodes314, @rina23q, @thin-edge/contributors, @gligorisaev

Return DER of public key from create_key
  Cargo.lock
  crates/core/tedge/Cargo.toml
  crates/core/tedge/src/cli/certificate/create_key.rs
  crates/extensions/tedge-p11-server/Cargo.toml
  crates/extensions/tedge-p11-server/src/client.rs
  crates/extensions/tedge-p11-server/src/connection.rs
  crates/extensions/tedge-p11-server/src/pkcs11/mod.rs
  crates/extensions/tedge-p11-server/src/server.rs
  crates/extensions/tedge-p11-server/src/service.rs
  tests/RobotFramework/tests/pkcs11/private_key_storage.robot
Owners: @reubenmiller, @didier-wenzek, @albinsuresh, @jarhodes314, @rina23q, @thin-edge/contributors, @gligorisaev

working tedge cert download with CSR signed by PCKS 11 token
  Cargo.lock
  crates/common/certificate/Cargo.toml
  crates/common/certificate/src/lib.rs
  crates/core/tedge/src/cli/certificate/c8y/download.rs
  crates/core/tedge/src/cli/certificate/c8y/mod.rs
  crates/core/tedge/src/cli/certificate/c8y/renew.rs
  crates/core/tedge/src/cli/certificate/cli.rs
  crates/core/tedge/src/cli/certificate/create_csr.rs
  crates/core/tedge/src/cli/certificate/create_key.rs
  crates/core/tedge/src/cli/certificate/mod.rs
  crates/extensions/tedge-p11-server/Cargo.toml
  crates/extensions/tedge-p11-server/src/pkcs11/mod.rs
  tests/RobotFramework/tests/pkcs11/private_key_storage.robot
Owners: @reubenmiller, @didier-wenzek, @albinsuresh, @jarhodes314, @rina23q, @thin-edge/contributors, @gligorisaev

bump cryptoki to 0.10.0
  Cargo.lock
  Cargo.toml
Owners: @reubenmiller, @didier-wenzek, @albinsuresh, @jarhodes314, @rina23q

cryptoki: call C_Initialize for every session
  crates/extensions/tedge-p11-server/src/pkcs11/mod.rs
Owners: @didier-wenzek, @albinsuresh, @jarhodes314, @rina23q

test commit please ignore
  crates/common/tedge_config/src/system_toml/log_level.rs
Owners: @didier-wenzek, @albinsuresh, @jarhodes314, @rina23q

fix cert renew incompat for tedge-p11-server 1.6.1
  crates/common/certificate/src/lib.rs
  crates/core/tedge/src/cli/certificate/c8y/download.rs
  crates/core/tedge/src/cli/certificate/c8y/mod.rs
  crates/core/tedge/src/cli/certificate/c8y/renew.rs
  crates/core/tedge/src/cli/certificate/cli.rs
  crates/core/tedge/src/cli/certificate/create_csr.rs
Owners: @didier-wenzek, @albinsuresh, @jarhodes314, @rina23q

chore: bump rust version to 1.88
  .github/workflows/build-workflow.yml
  Cargo.toml
  ci/build_scripts/build.sh
  docs/src/contribute/build.md
Owners: @reubenmiller, @Bravo555, @rina23q, @didier-wenzek, @albinsuresh, @jarhodes314, @gligorisaev

chore: Resolve rust_2024_incompatible_pat lint
  crates/common/tedge_config_macros/src/option.rs
  crates/core/tedge_agent/src/operation_workflows/persist.rs
  crates/extensions/tedge_flows/src/steps.rs
  plugins/c8y_remote_access_plugin/src/proxy.rs
Owners: @didier-wenzek, @albinsuresh, @jarhodes314, @rina23q

test: add lifecycle flow tests and update flow definitions for versioning
  tests/RobotFramework/tests/tedge_flows/flow_lifecycle.robot
  tests/RobotFramework/tests/tedge_flows/lifecycle-flows/flow-v2.toml
  tests/RobotFramework/tests/tedge_flows/lifecycle-flows/flow.toml
  tests/RobotFramework/tests/tedge_flows/lifecycle-flows/main-v1.js
  tests/RobotFramework/tests/tedge_flows/lifecycle-flows/main-v2.js
Owners: @thin-edge/contributors, @gligorisaev, @didier-wenzek, @albinsuresh, @jarhodes314, @rina23q

fix: improve handling of file and directory events in FlowsMapper
  crates/extensions/tedge_flows/src/actor.rs
  crates/extensions/tedge_flows/src/registry.rs
Owners: @didier-wenzek, @albinsuresh, @jarhodes314, @rina23q

test: Add additional test for reloading scripts
  tests/RobotFramework/tests/tedge_flows/flow_lifecycle.robot
Owners: @thin-edge/contributors, @gligorisaev

.github/CODEOWNERS:

# See docs: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default unless a later match takes precedence
*       @reubenmiller @didier-wenzek @albinsuresh

# Build
justfile @thin-edge/contributors @thin-edge/inetum-contributors
/.devcontainer/ @reubenmiller @albinsuresh

# CI
/.github/ @reubenmiller @Bravo555 @rina23q

# Documentation
/docs/ @reubenmiller @didier-wenzek @gligorisaev
/design/ @reubenmiller @didier-wenzek @albinsuresh
/images/ @reubenmiller @didier-wenzek

# Testing
/tests/ @thin-edge/contributors @gligorisaev

# Packaging / Misc. contribution (e.g. config files)
/configuration/ @reubenmiller @rina23q
/containers/ @reubenmiller @rina23q

# Rust
*.rs @didier-wenzek @albinsuresh @jarhodes314 @rina23q
Cargo.toml @didier-wenzek @albinsuresh @jarhodes314 @rina23q
*.toml @didier-wenzek @albinsuresh @jarhodes314 @rina23q

# Shell scripting
*.sh @reubenmiller @Bravo555

# Python
*.py @reubenmiller @albinsuresh @jarhodes314
